.btn:hover {
    background-color: rgb(107, 193, 225);  
}

.btn {
    font-weight: 700;
    text-decoration: none;
    color: rgb(122, 119, 119);
    text-align: center;
}

.footer {
    
    
    background-color: white;
    text-align: center;
    position: fixed;
    clear: both;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

